// *************************************
//
//
//  Spaghetti Code
//
//
// *************************************

// -------------------------------------
//   External Libraries & Settings
// -------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// ----- Settings ----- //
@import 'core/settings';

// ----- Base ----- //
@import 'core/base';

// ----- Normalize ----- //
@import 'libs/normalize';

// ----- Bourbon ----- //
@import 'bourbon';

// ----- Prettify ----- //
@import 'libs/pretty_solarized';

@import 'neat';

// -------------------------------------
//   Core
// -------------------------------------

// ----- Helpers ----- //
@import 'core/helpers';


// -------------------------------------
//   Pages
// -------------------------------------

// -------------------------------------
//   Site-wide elements
// -------------------------------------

.site-header {
  background: #f7f7f7;
  padding: rem(10px) 0;
  margin-bottom: rem(32px);

  .header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: rem(1200px);
    margin: 0 auto;
  }

  .logo {
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    margin-right: rem(24px);
  }

  .c-site-nav {
    li a {
      color: #555;
      display: block;
      font-size: rem(14px);
      padding: rem(10px) rem(20px);
    }

    li {
      &.active {
        border-bottom: 2px solid #000;
      }

    }
  }
}

main {
}

.section-header {
  @include grid-column(12);
  margin-bottom: rem(32px);
}

.header-grid {
  @include grid-column(12);
  display: flex;
  align-items: center;
}


.page-container {
  max-width: rem(1200px);
  margin: 0 auto;
  @include grid-container;
}

.main-image {
  @include grid-column(5);
}

.page-content {
  @include grid-column(7);
}
