// *************************************
//
//
//  Spaghetti Code
//
//
// *************************************

// -------------------------------------
//   External Libraries & Settings
// -------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// ----- Settings ----- //
@import 'core/settings';

// ----- Base ----- //
@import 'core/base';

// ----- Normalize ----- //
@import 'libs/normalize';

// ----- Bourbon ----- //
@import 'bourbon';

// ----- Prettify ----- //
@import 'libs/pretty_solarized';

@import 'neat';

// -------------------------------------
//   Core
// -------------------------------------

// ----- Helpers ----- //
@import 'core/helpers';


// -------------------------------------
//   Pages
// -------------------------------------

// -------------------------------------
//   Site-wide elements
// -------------------------------------

body {
  background: transparent url('../images/pattern.jpg') repeat;
}

h1, h2, p {
  color: #Fff;
}

.site-header {
  background: #f7f7f7;
  padding: rem(10px) 0;

  .header-container {
    align-items: center;
    max-width: rem(1200px);
    margin: 0 auto;

    @include respond-to(640px) {
      display: flex;
      justify-content: flex-start;
    }
  }

  .logo {
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    margin-right: rem(24px);
    margin-left: rem(20px);

    @include respond-to(640px) {
      margin-left: 0;
    }

  }

  .c-site-nav {
    li a {
      color: #555;
      display: block;
      font-size: rem(14px);
      padding: rem(10px) rem(20px);
    }

    li {
      &.active {
        border-bottom: 2px solid #000;
      }

    }
  }
}

.section-header {
  max-width: rem(1200px);
  margin: 0 auto;
  margin-bottom: rem(24px);

  .fun & {
    @include grid-column(12);
  }

  > div {
    @include respond-to(640px) {
      @include grid-column(8);
    }
  }

  > img {
    max-width: 200px;
    max-height: 232px;
    @include respond-to(640px) {
      @include grid-column(4);
    }
  }
}

.header-grid {

  @include respond-to(640px) {
    @include grid-column(12);
    display: flex;
    align-items: center;

  }
}

.page-container {
  max-width: rem(1200px);
  margin: 0 auto;
  @include grid-container;
}

.page-content {
  clear: both;
}


.fact-header {
  @include grid-column(12);
}

.fact-section {
  @extend %group;
  margin-bottom: rem(32px);
  background: #1F7E27;
  border: 1px solid darken(#f3f6f9, 5%);
  border-radius: 12px;
  padding: rem(20px);
  margin: 0 rem(20px) rem(32px);

  @include respond-to(560px) {
    margin: 0 0 rem(32px) 0;
  }
}

.fact-image {
  padding: 0 rem(10px);
  margin-bottom: rem(12px);

  img {
    width: 100%;
    border-radius: 100%;

    @include respond-to(560px) {
      width: auto;
    }
  }

  @include respond-to(560px) {
    padding: 0;
    margin-bottom: 0;
    @include grid-column(4);
  }
}

.facts {
  padding: 0 rem(10px);
  @include respond-to(560px) {
    padding: 0;
    @include grid-column(8);
  }
}

.fact {
  margin-bottom: rem(16px);
  a, p {
    color: #FFF;
  }
}

h2 {
  font-size: rem(21px);
  margin-bottom: rem(16px);
}

.main-image {
  height: rem(200px);
  margin-bottom: rem(24px);
  background:transparent url('/images/tortoise.jpg') no-repeat 100% 100%;
  background-size: cover;
  background-position: 100% 20%;

  .diet & {
    background:transparent url('/images/tortoise.jpg') no-repeat 100% 100%;
    background-size: cover;
    background-position: 100% 20%;
  }
}

h2 {
  color: #FFF;
}
h3 {
  font-size: rem(16px);
  color: #FFF;
}

p {
  font-size: rem(14px);
}

.videos {
  @extend %group;
  margin-bottom: rem(32px);

  .fact-header {
    @extend %group;
  }

  .video {
    clear: both;
    margin: 0 rem(20px) rem(20px);

    @include respond-to(640px) {
      margin: 0;
      clear: none;
      @include grid-column(6);
    }
  }
}


.gifs {
  .gif {
    @include grid-column(4);
  }
}
