<nav class="c-site-nav">
  <ul>
    <li>
      <a href="#eat">Diet</a>
    </li>
    <li>
      <a href="#live">Live</a>
    </li>
    <li>
      <a href="#mate">Reproductive</a>
    </li>
    <li>
      <a href="#environment">Environment</a>
    </li>
    <li class="<%= 'active' if current_page.data.nav == 'fun' %>">
      <a href="fun.html">Fun Zone</a>
    </li>
  </ul>
</nav>
