---
nav: 'writing'
---

<% blog.articles.each do |article| %>
  <article>
    <header>
      <h2><a href="<%= article.url %>"><%= article.title %></a></h2>
    </header>
    <%= article.summary %>
    <!-- /article-body -->
    <footer>
      <%= link_to 'Read more', article.url  %>
    </footer>
  </article>
<% end %>
