// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

// -------------------------------------
//   Global
// -------------------------------------

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: $background-color;
  color: $text-color;
  line-height: $base-line-height;
  font-size: 100%;
  font-family: $font-family-base;
  margin-top: calc-em(20px);
  margin: calc-em(20px);

  @include respond-to(450px) {
    margin: 10% 0 10% 10%;
  }
}

img {
  max-width: 100%;
}

// -------------------------------------
//  Typography
// -------------------------------------

// ----- Headlines ----- //

h1,
h2,
h3,
h4,
h5,
h6, {
  margin: 0;
  line-height: 1.25;
  font-family: $font-family-headings;
  font-weight: 700;
}

h1,
h2 {
  font-size: calc-em(24px);
  margin-bottom: calc-em(16px, 24px);
}

h2 {
  margin-bottom: calc-em(8px, 24px);

  a {

    &:link,
    &:visited {
      color: $text-color;
    }

    &:hover,
    &:focus,
    &:active {
      color: $link-color;
    }
  }

  &.section-header {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: calc-em(6px, 24px);
    margin-bottom: calc-em(12px, 24px);
  }
}

h3 {
  font-size: calc-em(18px);
  font-weight: 700;
  margin: 0 0 calc-em(4px, 18px);
}

h4 {
  font-size: calc-em(16px);
  margin-bottom: calc-em(4px, 16px);
  text-transform: uppercase;
}

h5 {
  font-size: 1em;
  margin-bottom: .25em;
}

h6 {
  font-size: 0.85em;
  font-style: italic;
  margin-bottom: .25em;
}

h1 + h1,
h2 + h2,
h3 + h3,
h4 + h4,
h5 + h5,
h6 + h6 {
  margin-top: 1em;
}

// ----- Text blocks ----- //

p {
  margin: 0 0 1em 0;

  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  font-size: calc-em(14px);
  line-height: calc-em(27px, 14px);
  color: lighten($text-color, 15%);
  border-left: 3px solid $gray-lighter;
  margin-left: calc-em(16px, 14px);
  padding-left: calc-em(16px, 14px);
}

code, kbd, pre, samp {
  font-family: $font-family-mono;
  font-size: 1em;
}

// ----- Inline elements ----- //

em {
}

strong {
}

// ----- List elements ----- //

dt {
  margin-bottom: 0.5em;
}
dd {
  margin-bottom: 1.5em;
}

ul, ol {
  font-size: calc-em(16px);
  li {
    margin-bottom: calc-em(4px, 16px);
  }
  ul, ol {
    font-size: calc-em(14px, 16px);
  }
}

// ----- Block elements ----- //
hr {
  border: none;
  height: calc-em(1px);
  background: $gray-light;
  margin: calc-em(16px) 0;
}

nav > ul {
  @extend %zero-list;
}

article {
  margin-bottom: calc-em(48px);
}

figure {
  margin: 0 0 calc-em(16px);

  figcaption {
    margin-top: calc-em(7px, 14px);
    font-size: calc-em(14px);
    color: lighten($text-color, 20%);
  }
}

// -------------------------------------
//  Links
// -------------------------------------
a {
  text-decoration:    none;
  transition:         color .1s ease-in-out;
}

a:link    {
  color: $link-color;
  transition:         color .1s ease-in-out;
}

a:visited {
  color: $link-color;
}

a:hover   {
  color: darken($link-color, 10%);
  transition:         color .1s ease-in-out;
}

a:active  {
  color: darken($link-color, 10%);
  transition:         color .1s ease-in-out;
}

// -------------------------------------
//  Forms
// -------------------------------------

input {
  &[type="text"] {
    box-shadow: none;
    border-radius: 0;
    background: $gray-lighter;
    &:focus,
    &:active {
      background: $white;
    }
  }
}

label,
label.control-label {
  font-size: calc-em(13px);
}

legend {
  font-size: calc-em(14px);
  margin: 0 0 calc-em(7px, 14px) 0;
}
