// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// -------------------------------------
//   Variables
// -------------------------------------


// Colors
// --------------------------
$brand-primary:       #477DCA;
$brand-secondary:     #5F8C93;
$brand-tertiary:      #AB977D;

$alert:               #FFE84A;
$error:               #FF0005;
$warning:             $alert;
$success:             #DFF0D8;

$link-color:          #6AA7CF;

$white:               #FFF;
$gray:                #555;
$gray-light:          #EAEAEA;
$gray-lighter:        #F7F7F7;
$black:               #090A0E; // Never use #000 for black (http://ianstormtaylor.com/design-tip-never-use-black/)

$text-color:          $gray;
$background-color:    $white;

// Fonts
// --------------------------
//

$base-font-size:          16px;
$base-line-height:        1.5;
$font-family-sans-serif:  'Open Sans', "ff-meta-web-pro-1","ff-meta-web-pro-2", verdana, sans-serif;
$font-family-mono:        'Open Sans', "fira-mono-1", "fira-mono-2", monospace;
$font-family-serif:       'Open Sans', 'Chronicle SSm A', 'Chronicle SSm B', georgia, serif;
$font-family-base:        $font-family-sans-serif;
$font-family-headings:    $font-family-sans-serif;
