body.resume, {
  main {
    max-width: calc-em(800px);
  }

  .resume-header {
    margin-bottom: calc-em(24px);

    .contact {
      font-size: calc-em(15px);
    }
  }

  .body-header {
    margin-bottom: calc-em(17px);

    h2 {
      font-weight: 400;
      font-size: calc-em(14px);
      border-bottom: 1px solid $gray-light;
      margin-bottom: calc-em(8px, 14px);
      padding-bottom: calc-em(8px, 14px);
    }
  }

  .job-listing {
    margin: 0 0 calc-em(34px);
  }

  .job-listing-header {
    margin-bottom: calc-em(8px);

    h1 {
      font-weight: 700;
      font-size: calc-em(18px);
      margin-bottom: calc-em(3px, 18px);
    }

    h2 {
      font-weight: 400;
      font-size: calc-em(14px);
    }
  }
  .job-highlights {
    li {
      font-style: normal;
    }
  }
}
