body.work {

  .section-image-row {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    img {
      @include align-self(center);
    }

    figcaption {
      width: 100%;
    }
  }

  &_food52,
  &_madtree,
  &_cladwell,
  &_not-recipes,
  article {
    main {
      max-width: calc-em(1000px);
    }

    .section-header,
    .section-body {
      max-width: calc-em(380px);
    }

    .section-body {
      margin-bottom: calc-em(16px);
    }
  }

  &_food52,
  &_madtree,
  &_not-recipes {
    figure {
      margin-bottom: calc-em(64px);
    }
  }

  &_not-recipes {
    .section-image-row {
      @include justify-content(flex-start);

      img:first-child {
        margin-right: calc-em(32px);
      }
    }
  }

  &_cladwell {

    .resp,
    .gifs {
      img {
        margin-bottom: calc-em(16px);
        @include respond-to(42.5em) {
          width: 47.5%;
        }
      }
    }

    .process {
      img {
        margin-bottom: calc-em(16px);
        @include respond-to(42.5em) {
          width: 32%;
        }
      }
    }
  }
}
