---
nav: 'work'
---

<article>
  <header class="section-header">
    <h1>Food52</h1>
  </header>

  <h3>Contest Homepage</h3>
  <hr />
  <figure class="section-image-row">
    <img srcset="/images/work/food52/contest.jpg 1x,
                /images/work/food52/contest@2x.jpg 2x"
         src="/images/work/food52/contest.jpg"
         alt="Contest Home View" />
    <figcaption><%= link_to "View page", "https://food52.com/contests" %></figcaption>
  </figure>

  <h3>Contest Details</h3>
  <hr />
  <figure class="section-image-row">
    <img srcset="/images/work/food52/contest-show.jpg 1x,
                /images/work/food52/contest-show@2x.jpg 2x"
         src="/images/work/food52/contest-show.jpg"
         alt="Contest Detail View" />
    <figcaption><%= link_to "View page", "https://food52.com/contests/432-your-best-recipe-with-thanksgiving-leftovers" %></figcaption>
  </figure>

  <h3>July 4 Feature</h3>
  <hr />
  <figure class="section-image-row">
    <img srcset="/images/work/food52/flag-cake.jpg 1x,
                /images/work/food52/flag-cake@2x.jpg 2x"
         src="/images/work/food52/flag-cake.jpg"
         alt="Flag Cake Editorial" />
    <figcaption><%= link_to "View page", "https://food52.com/features/flag-cake" %></figcaption>
  </figure>

  <h3>Thanksgiving Genie</h3>
  <hr />
  <figure class="section-image-row">
    <img srcset="/images/work/food52/genie.jpg 1x,
                /images/work/food52/genie@2x.jpg 2x"
         src="/images/work/food52/genie.jpg"
         alt="Thanksgiving Menu Genie" />
    <figcaption>We built the <%= link_to "Thanksgiving Menu Genie", "https://food52.com/thanksgiving/menu-genie" %> in 2016 using React.</figcaption>
  </figure>

</article>
