---
nav: 'work'
---

<article>
  <header class="section-header">
    <h1>(Not)Recipes</h1>
  </header>

  <h3>Home &amp; Detail Views</h3>
  <hr />
  <figure class="section-image-row split">
    <img srcset="/images/work/not-recipes/home.jpg 1x,
    /images/work/not-recipes/home@2x.jpg 2x"
    src="/images/work/not-recipes/home.jpg"
    alt="App Home" />

    <img srcset="/images/work/not-recipes/detail.jpg 1x,
    /images/work/not-recipes/detail@2x.jpg 2x"
    src="/images/work/not-recipes/detail.jpg"
    alt="App Detail" />
    <figcaption><%= link_to 'Download the iOS App', 'https://itunes.apple.com/us/app/not-recipes-by-food52/id1048175860?mt=8', title: 'Download the iOS App' %></figcaption>
  </figure>

  <h3>Notification Views</h3>
  <hr />
  <figure class="section-image-row split">
    <img srcset="/images/work/not-recipes/notifications.jpg 1x,
    /images/work/not-recipes/notifications@2x.jpg 2x"
    src="/images/work/not-recipes/notifications.jpg"
    alt="Notication Screen" />

    <img srcset="/images/work/not-recipes/notification-home.jpg 1x,
    /images/work/not-recipes/notification-home@2x.jpg 2x"
    src="/images/work/not-recipes/notification-home.jpg"
    alt="Notification Home Screen" />
    <figcaption><%= link_to 'Download the iOS App', 'https://itunes.apple.com/us/app/not-recipes-by-food52/id1048175860?mt=8', title: 'Download the iOS App' %></figcaption>
  </figure>

  <h3>Marketing Page</h3>
  <hr />
  <figure class="section-image-row">
    <img srcset="/images/work/not-recipes/marketing.jpg 1x,
    /images/work/not-recipes/marketing@2x.jpg 2x"
    src="/images/work/not-recipes/marketing.jpg"
    alt="App Marketing Page" />
    <figcaption><%= link_to "View page", "https://food52.com/not-recipes-app" %></figcaption>
  </figure>
</article>
