  <h1>84:51</h1>

  <h2 class="section-header">Exxon</h2>

  <h3>Dynamic Pages with YAML</h3>

  <p>There were a number of pages that shared the same layout, but had a few slight tweaks either to their sidebar or to some of the other content on the page. By using Middleman&#39;s dynamic pages coupled by the page content in YAML files we were able to build multiple bespoke pages without much duplication.</p>

  <pre class="prettyprint lang-ruby">
data[build_mode].content.landing.each do |landing|
  proxy &quot;/#{landing.last.url}/index.html&quot;, &quot;/templates/landing-page.html&quot;, :locals =&gt; { :landing =&gt; landing }, :ignore =&gt; true
end

data[build_mode].content.grouping.each do |grouping|
  proxy &quot;/#{grouping.last.url}/index.html&quot;, &quot;/templates/grouping.html&quot;, :locals =&gt; { :grouping =&gt; grouping }, :ignore =&gt; true
end

data[build_mode].content.error.each do |error|
  proxy &quot;/#{error.last.url}/index.html&quot;, &quot;/templates/error.html&quot;, :locals =&gt; { :error =&gt; error }, :ignore =&gt; true
end
  </pre>

  <h3>Swappable Environments</h3>

  <p>We had to build similar sites for both the PVL and EVL lines of fuels, but they differed in slight ways such as the color and content of the navbar. By defining a few helpers in the Middleman&#39;s <code>config.rb</code> file we were able to specify the build for each environment.</p>

  <pre class="prettyprint lang-ruby">
helpers do
  def build_mode
    ENV[&quot;BUILD_MODE&quot;] || &quot;pvl&quot;
  end
  def pvl?
    &quot;pvl&quot; == build_mode
  end
  def cvl?
    &quot;cvl&quot; == build_mode
  end
end
</pre>

    <h2 class="section-header">Madtree Brewing</h2>

    <h3>Responsive Mixins</h3>

    <pre class="prettyprint lang-css">
@mixin respond-to($viewport-width, $fallback: true, $ie-version: &#39;lt-ie9&#39;) {

  @media only screen and (min-width: $viewport-width) {
    @content;
  }

  @if $fallback == true {

    @if $ie-version == &#39;lt-ie9&#39; {

      html.lt-ie9 &amp; { // Using Paul Irish&#39;s conditional comments
        @content;
      }
    }// @if $ie-version == &#39;lt-ie9&#39;

    @else if $ie-version == &#39;lt-ie8&#39; {

      html.lt-ie8 &amp; { // Using Paul Irish&#39;s conditional comments
        @content;
      }
    }
  }
}
  </pre>

    <h3>Structuring Media Queries</h3>

    <pre class="prettyprint lang-css">
.product-preview {
  @include span-columns(6);
  @include omega(2n);

  @include respond-to(26.25em) {
    @include omega-reset(2n);
    @include span-columns(3);
    @include omega(4n);
  }

  @include respond-to(45em) {
    @include omega-reset(4n);
    @include span-columns(2);
    @include omega(5n);
  }
}
  </pre>

    <h3>Browser Support</h3>

    <p>We had to deal with a number of legacy browsers when doing the Exxon site and one simple way of doing that was to add a number of conditional comments to the <code>html</code> tag at the beginning of the document, as recommended by Paul Irish.</p>

    <h4>HTML</h4>

    <pre class="prettyprint lang-html">
&lt;!--[if lt IE 7]&gt;&lt;html class=&quot;no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7&quot; lang=&quot;en&quot;&gt; &lt;![endif]--&gt;
&lt;!--[if IE 7]&gt;&lt;html class=&quot;no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8&quot; lang=&quot;en&quot;&gt;&lt;![endif]--&gt;
&lt;!--[if IE 8]&gt;&lt;html class=&quot;no-js lt-ie11 lt-ie10 lt-ie9&quot; lang=&quot;en&quot;&gt;&lt;![endif]--&gt;
&lt;!--[if IE 9]&gt;&lt;html class=&quot;no-js lt-ie11 lt-ie10&quot; lang=&quot;en&quot;&gt; &lt;![endif]--&gt;
&lt;!--[if gt IE 9]&gt;&lt;!--&gt; &lt;html class=&quot;no-js&quot; lang=&quot;en&quot;&gt; &lt;!--&lt;![endif]--&gt;
    </code></pre>

    <h4>SCSS</h4>

    <p>This allowed us to specifically target a certain version of IE in our SCSS that made writing fallback styles for older browsers easy by using the SCSS <code>@content</code> feature.</p>

    <pre class="prettyprint lang-css">
@mixin lt-ie7 {

  * + html &amp; { // Using browser hacks
    @content;
  }
}

// ----- &lt; IE8 ----- //
@mixin lt-ie8 {

  html.lt-ie8 &amp; { // Using Paul Irish&#39;s conditional comments
    @content;
  }
}

// ----- &lt; IE9 ----- //
@mixin lt-ie9 {

  html.lt-ie9 &amp; { // Using Paul Irish&#39;s conditional comments
    @content;
  }
}

// ----- &lt; IE10 ----- //
@mixin lt-ie10 {

  html.lt-ie10 &amp; { // Using Paul Irish&#39;s conditional comments
    @content;
  }
}
    </pre>

      <h2 class="section-header">Food52</h2>

      <h3>Module Naming Pattern</h3>

      <p>As we continued to grow at Food52, we needed a way to write our SCSS so it looked like it all came from the same source. We settled on a BEM-style system and SCSS made it super simple to write this way.</p>

      <h4>SCSS</h4>

      <pre class="prettyprint lang-css">
.update {
  width: 100%;

  // ----- Update Type ----- //
  &__type {
    float: left;
    width: 40px;
    margin-right: 15px;
  }
}
      </pre>

      <h4>CSS</h4>

      <pre class="prettyprint lang-css">
.update__type {
  float: left;
  width: 40px;
  margin-right: 15px;
}
      </pre>

    <h3>Email Styleguide</h3>
    <figure>
      <img srcset="/images/work/food52/styleguide.jpg 1x,
      /images/work/food52/styleguide@2x.jpg 2x"
      src="/images/work/food52/styleguide.jpg"
      alt="Email Styleguide" />
      <figcaption><%= link_to "View styleguide", "http://f52-emails.herokuapp.com/styleguide/section-header/" %> Username: food52; Password: burnttoast</figcaption>
    </figure>
</div>
