---
nav: 'gallery'
---
<div class="main-image">
  <%= image_tag "images/tortoise.jpg" %>
</div>

<div class="page-content">
  <h3>This thing here</h3>
  <p>This is my long graph. This is my long graphThis is my long graphThis is my long graphThis is my long graph</p>
  <h3>This thing here</h3>
  <p>This is my long graph. This is my long graphThis is my long graphThis is my long graphThis is my long graph</p>
  <h3>This thing here</h3>
  <p>This is my long graph. This is my long graphThis is my long graphThis is my long graphThis is my long graph</p>
  <h3>This thing here</h3>
  <p>This is my long graph. This is my long graphThis is my long graphThis is my long graphThis is my long graph</p>
</div>
