<h1><a href="mailto:me@ryan.cm" title="Email me">Ryan Merrill</a> is a UI designer and developer living and working in sunny Cincinnati, Ohio.</h1>

<p>I like my friends old, music loud and work tough.</p>

<p>That mindset comes from a midwestern work ethic forged near the abandoned steel yards of the Great Lakes. I grew up on a steady diet of underdog sports teams, brutal winters and minimalist writers—distilling in me a utilitarian approach to design and a desire to celebrate victories of any size.</p>

<nav class="social-links">
  <ul>
    <li>
      <a href="mailto:me@ryan.cm" title="Email">Email</a>
    </li>
    <li>
      <a href="http://twitter.com/procload" title="Twitter">Twitter</a>
    </li>
    <li>
      <a href="http://github.com/procload" title="Github">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/rcmerrill" title="LinkedIn">LinkedIn</a>
    </li>
  </ul>
</nav>
