<div class="main-image">
</div>

<div class="page-container">
  <header class="section-header">
    <h1>Galapagos Tortoise</h1>
    <p>The Galapogos Tortoise is the world's "rarest living creature" according to the Guinness Book of Records. This site was created to inform others about Galapagos Tortoises and share our love of this amazing species.</p>
  </header>

  <div class="page-content">
    <section class="fact-section">
      <header class="fact-header">
        <h2>What does a Galapagos Tortoise Eat?</h2>
      </header>
      <div class="fact-image">
        <%= image_tag "images/tortoise-2.jpg" %>
      </div>
      <div class="facts">
        <div class="fact">
          <h3>The Diet of a Galapagos Tortoise</h3>
          <p>Mostly green vegetation, such as grass, leaves, tree bark, berries and lichen</p>
        </div>
        <div class="fact">
          <h3>How much and how often do they eat?</h3>
          <p>They eat very slowly, but can consume up to 80 pounds of food a day. They can go up to one year without food or water!</p>
        </div>
        <div class="fact">
          <h3>How do they get food?</h3>
          <p>They forage for food in their surroundings.</p>
        </div>
        <div class="fact">
          <h3>Natural Surroundings</h3>
          <p>Volcanic lowlands and shrub land</p>
        </div>
      </div>
    </section>

    <section class="fact-section">
      <header class="fact-header">
        <h2>Where do Galapagos Tortoises Live?</h2>
      </header>
      <div class="fact-image">
        <%= image_tag "images/tortoise-3.jpg" %>
      </div>
      <div class="facts">
        <div class="fact">
          <h3>Natural Surroundings</h3>
          <p>They only live on the Galapagos Islands</p>
        </div>
        <div class="fact">
          <h3>Where can you find them?</h3>
          <p>They have lived on the Galapagos Islands for 3 million years!</p>
        </div>
        <div class="fact">
          <h3>Where does the animal make it home?</h3>
          <p>Offspring do not remain with their parents. Upon hatching, they take several weeks to dig out and then they are left to fend for themselves.</p>
        </div>
      </div>
    </section>
    <section class="fact-section">
      <header class="fact-header">
        <h2>The Reproductive Cycle of the Galapagos Tortoise</h2>
      </header>
      <div class="fact-image">
        <%= image_tag "images/tortoise-4.jpg" %>
      </div>
      <div class="facts">
        <div class="fact">
          <h3>Number of Offspring</h3>
          <p>Galapagos tortoises lay 1 to 4 clutches each season, with about 16 eggs each</p>
        </div>
        <div class="fact">
          <h3>Gestational Period</h3>
          <p>The gestation period is about 4 to 8 months</p>
        </div>
        <div class="fact">
          <h3>How long do the offspring remain with the parent?</h3>
          <p>Offspring do not remain with their parents. Upon hatching, they take several weeks to dig out and then they are left to fend for themselves.</p>
        </div>
      </div>
    </section>
    <section class="fact-section">
      <header class="fact-header">
        <h2>Environment</h2>
      </header>
      <div class="fact-image">
        <%= image_tag "images/tortoise-5.jpg" %>
      </div>
      <div class="facts">
        <div class="fact">
          <h3>Description</h3>
          <p>Galapagos tortoises are about 4 to 5 feet in length, and weigh up to 500 pounds! They breathe about four times per minute, and they cannot breathe underwater.</p>
        </div>
        <div class="fact">
          <h3>Lifespan</h3>
          <p>Can live to be over 100 years old!</p>
        </div>
        <div class="fact">
          <h3>Interesting Facts</h3>
          <p>They have lived on the Galapagos Islands for over 3 million years!</p>
        </div>
      </div>
    </section>
  </div>
</div>
